body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: linear-gradient(to left, rgb(102, 168, 206), rgb(92, 196, 156));
}

h1 {
    text-align: center;
}

th{
    width: 50%;
}


.main-div {
    margin: auto;
    width: 80vw;
    text-align: center;
}

button {
    width: 100%;
}